#root > div > div.makeStyles-root-117 > div > div.MuiGrid-root.MuiGrid-container.MuiGrid-spacing-xs-1.MuiGrid-align-items-xs-center.MuiGrid-justify-xs-center > div.MuiGrid-root.makeStyles-root-231.MuiGrid-item.MuiGrid-grid-xs-6 > div:nth-child(2) {
    text-align:center;
}
#root > div > div.makeStyles-root-117 > div > div.MuiGrid-root.MuiGrid-container.MuiGrid-spacing-xs-1.MuiGrid-align-items-xs-center.MuiGrid-justify-xs-center > div.MuiGrid-root.makeStyles-root-231.MuiGrid-item.MuiGrid-grid-xs-6 > div.MuiPaper-root.MuiPaper-elevation0.makeStyles-header-232 {
    text-align: center;
    justify-content: center;
    padding-left: 0;
}